<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.currency.sys.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.currency.sys.entity.SysMenu">
        <id column="menu_id" property="menuId" />
        <result column="menu_name" property="menuName" />
        <result column="parent_menu_id" property="parentMenuId" />
        <result column="menu_sort" property="menuSort" />
        <result column="menu_sn" property="menuSn" />
        <result column="menu_url" property="menuUrl" />
        <result column="menu_icon" property="menuIcon" />
        <result column="menu_type" property="menuType" />
        <result column="tenant_id" property="tenantId" />
        <result column="status_cd" property="statusCd" />
        <result column="create_user" property="createUser" />
        <result column="create_date" property="createDate" />
        <result column="update_user" property="updateUser" />
        <result column="update_date" property="updateDate" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id, menu_name, parent_menu_id, menu_sort, menu_sn, menu_url, menu_icon, menu_type, tenant_id, status_cd, create_user, create_date, update_user, update_date, remark
    </sql>
    <select id="getUserSysMenuByUserId" resultType="com.currency.dto.sys.SysMenuDTO">
        SELECT
            t.*
        FROM
            sys_menu t
        WHERE
            t.menu_id IN (
                SELECT
                    b.menu_id
                FROM
                    sys_role a
                INNER JOIN sys_role_menu b ON a.role_id = b.role_id
                INNER JOIN SYS_USER_ROLE C ON A.ROLE_ID=C.ROLE_ID
                 where a.status_cd='1' and b.status_cd='1' and c.status_cd='1' and  C.user_id=#{userId}
            )
            and t.status_cd='1'

    </select>

</mapper>
