<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.currency.sys.mapper.SysTenantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.currency.sys.entity.SysTenant">
        <id column="tenant_id" property="tenantId" />
        <result column="tenant_code" property="tenantCode" />
        <result column="tenant_name" property="tenantName" />
        <result column="create_date" property="createDate" />
        <result column="create_user" property="createUser" />
        <result column="status_cd" property="statusCd" />
        <result column="update_date" property="updateDate" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tenant_id, tenant_code, tenant_name, create_date, create_user, status_cd, update_date, update_user, remark
    </sql>
    <select id="list" resultType="com.currency.dto.sys.SysTenantDTO" parameterType="com.currency.dto.sys.QuerySysTenantDTO">
        select t.* from sys_tenant t where t.status_cd='1'
        <if test="query.tenantId != null and query.tenantId != ''">
            and t.tenant_id=#{query.tenantId}
        </if>
        <if test="query.tenantCode != null and query.tenantCode != ''">
            and t.tenant_code like concat('%',#{query.tenantCode},'%')
        </if>
        <if test="query.tenantName != null and query.tenantName != ''">
            and t.tenant_name like concat('%',#{query.tenantName},'%')
        </if>

        order by t.create_date desc

    </select>
</mapper>
